pandas 
folium 
streamlit 
streamlit-folium
matplotlib
folium
fastapi[standard]
uvicorn
pydantic
geopy
requests
python-dotenv
google-generativeai
python-multipart
httpx
cachetools
fastapi[standard]
sqlmodel
uvicorn
python-dotenv
psycopg2-binary
python-jose[cryptography] 
passlib[bcrypt]
pydantic_settings
alembic
testcontainers[postgresql]
pytest
faker
cloudinary